@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-color: #9a02c1;
  /* --main-color: #9a02c1; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  background-image: url("/images/bg-image.png");
  width: 100%;
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.bg_gif {
  background-image: url("/images/gif.gif");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg_grident {
  background-image: linear-gradient(to right, #ff36eb80, #00000000);
  /* background-image: linear-gradient(to right, #ff36eb80, #00000000); */
}

.grid_bg {
  background-image: linear-gradient(45deg, #f68cff, #ffffff);
  /* background-image: linear-gradient(45deg, #f68cff, #ffffff); */
}

.grid_bg_2 {
  background-image: linear-gradient(45deg, #e993ff, #9a02c1);
  /* background-image: linear-gradient(45deg, #e993ff, #9a02c1); */
  color: #fff;
}

.popup_bg {
  background-image: linear-gradient(to right, #ff36eb80, #00000000);
  /* background-image: linear-gradient(to right, #ff36eb80, #00000000); */
}

/*  */
.popup {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.popup.open {
  max-height: 200px;
  /* Adjust height as needed */
}

.popup-container {
  animation: fadeInOut 0.3s ease;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#scroll_none::-webkit-scrollbar {
  display: none;
}

.scroll_none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gradient-text {
  background-color: red;
  background-image: linear-gradient(45deg, #d365ea, #ffffff);
  /* background-image: linear-gradient(45deg, #d365ea, #ffffff); */
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.btn_bg {
  background-image: linear-gradient(
    to right,
    #1f8ebe,
    #007dbf,
    #006abe,
    #0055b9,
    #003dae,
    #3133ad,
    #4b24aa,
    #6004a4,
    #7404af,
    #8804b9,
    #9d03c3,
    #b102cd
  );
}

.bounse {
  position: relative;
  animation: bounce 1.5s infinite alternate cubic-bezier(0.5, 0.05, 0.1, 0.3);
}

@keyframes bounce {
  0% {
    top: 0;
  }

  100% {
    top: 5px;
  }
}

@media screen and (max-width: 480px) {
  .buynow img {
    width: 100%;
    height: 50px;
  }
}

.glass-element {
  background-color: rgba(
    20,
    20,
    20,
    0.226
  ); /* Set a semi-transparent background color */
  backdrop-filter: blur(5px); /* Apply a blur effect */
}

.shadow-input,
.shadow-large {
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.triangle:before {
  border-color: #0000 var(--main-color) #0000 #0000;
  border-style: solid;
  border-width: 0 30px 30px 0;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}

.input-field {
  @apply flex h-10 w-full border-none bg-zinc-800 text-white shadow-input rounded-md px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-neutral-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-600 disabled:cursor-not-allowed disabled:opacity-50 shadow-[0px_0px_1px_1px_var(--neutral-700)];
}
